/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #013751;
  color: #fff;
  
 
}

.navbar-logo {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: start;
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 20px;
 
}

.navbar-item {
  margin: 0;
  
}

.navbar-link {
  text-decoration: none;
  color: #fff;
}

.navbar-link:hover {
  text-decoration: underline;
}
/* styles.css */
/* ... (previous styles) */

/* .navbar-link {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  text-decoration: underline;
  color: #f00; 
} */


/* home page */

.app {
  font-family: Arial, sans-serif;
}

.home-page {
  height: 100vh;
  background-image: url('assets/backgroundHome.jpg'); 
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #111;
  text-align: center;
}

.home-page h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  padding-top: 50%;
  white-space: nowrap;
  overflow: hidden;
  animation: cursor 1s step-start infinite, text 4s steps(12) alternate infinite;
}
@keyframes cursor{
  0%, 100%{
    border-color: #fff;
  }
}
@keyframes text{
  0%{
    width: 0;
  }
  100% {
    width: 30.5ch;
  }
}

.home-page p {
  font-size: 1.2rem;
  padding-bottom: 5%;
}

/* about page */

.about-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #d2d2d2;
}

.content{
  display: flex;
  height: 100vh; 
}
.title h2{
  height: 31px;
  letter-spacing: 0;
  line-height: normal;
  justify-items: center;
  top: 0;
  display: flex;
  justify-content: center;
}
.about-container{
  gap: 4rem;
  height: 50vh;
  display: flex;
  margin-bottom: 2rem;
  margin-top: 5rem;
  align-content: center;
}

.about-left img{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 400px;
  width: 400px;
  margin: auto 0;
  justify-content: left;
  border-radius: 2rem;
}

.about-right{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: right;
  width: 518px;
  height: 659px;
  flex-shrink: 0;
  margin: auto 0;
  align-items:end;
}
.about-right p{
  padding: 1.5rem;
  flex: 1;
  background: #013751;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  flex-direction: column;
  line-height: normal;
  color: #fff;
  font-family: "Audiowide-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  
}

.profile-image {
  max-width: 200px;
  border-radius: 50%;

}

.about-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.about-button:hover {
  background-color: #555;
}

.about-info {
  flex: 1;
  padding: 20px;
}

.title h2 {
  font-size: 2rem;
  display: flex;
  justify-items: center;
  flex: 1;
  padding: 20px;
}


.about-info p {
  font-size: 1.2rem;
  display: flex;
  justify-content: right;
}

/* EXPERIENCE PAGE */
.my-experience{
  height: 100vh;
  display: flex;
  justify-content: center;
  color: #111;
  text-align: center;
  background-color: #d2d2d2;
}
.my-experience h2{
  font-size: 2rem;
  display: flex;
  justify-items: center;
  flex: 1;
  padding: 20px;
  color: #111;
  text-align: center;

}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* Contact page */
.contact-me{
  height: 100vh;
  display: flex;
  justify-content: center;
  color: #111;
  text-align: center;
  background-color: #d2d2d2;
}
.contact-colums{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.contact-left {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.contact-title h2{
  height: 31px;
  letter-spacing: 0;
  line-height: normal;
  justify-items: center;
  top: 0;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  display: flex;
  flex: 1;
  padding: 20px;
  
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form label {
  font-weight: bold;
  margin-top: 10px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.contact-form button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #42616e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #42616e;
}
/* .contact-right{


} */

/* footer */
.my-footer{
  height: 20vh;
  display: flex;
  justify-content: center;
  color: #fff;
  text-align: center;
  background-color: #013751;
}


/* project */

.my-projects{
  height: 100vh;
  display: flex;
  justify-content: center;
  color: #111;
  text-align: center;
  background-color: #d2d2d2;
}

